:root {
  --primary-color: rgb(247, 241, 212);
  --secondary-color: rgb(31, 102, 150);
}

.Dictionary section {
  background: rgba(245, 223, 177, 0.336);
  border-radius: 20px;
  padding: 35px 30px;
  margin: 0 auto 35px;
  box-shadow: 10px 10px 5px rgb(0 0 0 / 10%);
}

.Dictionary h4 {
  margin-bottom: 20px;
  color: var(--primary-color);
  font-family: "Mulish", sans-serif;
  font-weight: bold;
}

.Dictionary form {
  text-align: center;
  border-radius: 20px;
}

.Dictionary input {
  border-radius: 20px;
  border: 3px solid var(--primary-color);
  background: rgba(247, 241, 212, 0.253);

  color: var(--secondary-color);
  text-align: center;
  width: 50%;
  padding: 7px 17px;
}

.Dictionary .hint {
  text-align: center;
  margin-top: 15px;
  font-size: 14px;
  color: var(--primary-color);
}
